@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #FAFAFA;
}
.prueba{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 85vh;
}
header{
    height: 80px;
    background-color: #AECBFA;
    padding: 1px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}
.barra-iconos{
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.veterinaria-nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.veterinaria-nombre strong {
    color: #4285f4;
}

.cerrar-sesion {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.cerrar-sesion a{
    text-decoration: none;
    color: white;
}

.cerrar-sesion:hover {
    background-color: #ff5252;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.image-container {
    display: flex;
    gap: 50px;
}

.image-item {
    text-align: center; 
}

.image-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
    opacity: .5;
}

.image-container img:hover {
    transform: scale(1.08);
    opacity: 1;
}

.image-item h2 {
    margin: 10px 0 0; 
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #333;
}
footer{
    text-align: center; 
    border-top: 1px solid #e0e0e0;
}
.link {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 99em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: inherit;
}
.link:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: rgba(0,0,0,0.2);
}
.link:hover, .link:focus {
    outline: 0;
    width: 130px;
}
  .link:hover:before,
  .link:hover .link-title, .link:focus:before,
  .link:focus .link-title {
    transform: translateX(0);
    opacity: 1;
}
  
.link-icon {
    width: 28px;
    height: 28px;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;
}
.link-icon svg {
    width: 28px;
    height: 28px;
}
  
.link-title {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    display: block;
    text-align: center;
    text-indent: 28px;
    width: 100%;
}


/* Calendario */
.contenedor-calendario{
    height:550px;
    width:550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4A4A4A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.contenedor-calendario .calendario-header{
    
    border-bottom: none;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}
header .fecha-actual{
    font-size: 1.45rem;
    font-weight: 500;
}
header .iconos span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    border-radius: 50%;
    font-size: 1.9rem;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
}
header .iconos span:hover{
    background: rgba(0,0,0,0.1);

}
.calendario{
    padding: 20px;
    width: 500px;
    background-color: rgba(0,0,0,0.02);
    
    
}
.calendario ul{
    padding-top: 20px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    
}
.calendario ul li{
    position: relative;
    width: calc(100%/7);
}
.calendario .semanas{
    font-weight: 500;
}
.calendario .dias{
    margin-bottom: 20px;
    cursor: pointer;
}
.calendario .dias li{
    z-index: 1;
    margin-top: 30px;
}
.calendario .dias li::before{
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    z-index:-1;
    transform: translate(-50%,-50%);
}
.dias li:not(.otro-mes):hover::before{
    background: #C0D5FF;
}
.dias li.otro-mes{
    color: #aaa;
    cursor: default;
}

/* Selector de hora */

.selector-contenedor{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    height:100vh;
    width:100vw;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    
}
.selector-contenedor.mostrar{
    opacity: 1;
    pointer-events: visible;
    z-index: 2;
}
.selector-horas{
    width: 400px;
    height: 550px;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.selector-horas header{
    height: auto;
    border-bottom: none;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 32px;
    
}
#cerrar-selector{   
    border-radius: 5px;
    cursor: pointer;
}
#cerrar-selector:hover{
    background-color: #F26062;
}
.selector-titulo{
    font-weight: 500;
    color: white;
    height: 38px;
    width: 320px;
    border-radius: 5px;
    background-color: #3F80FF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.horas{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.horas li{
    cursor: pointer;
    background-color: #E3EDF3;
    border-radius: 5px;
    height: 35px;
    width: 320px;
}
.horas li:hover{
    background:#C0D5FF ;
}
.horas li .hora-ocupada{
    
    background-color:#F26062 ;
}


/* Btns si-no horas */

.btn-ace-hora-contenedor{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    height:100vh;
    width:100vw;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.btn-ace-hora-contenedor.mostrar-btns{
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
}
.btn-ace-hora{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    border-radius: 5px;
}
.btn-ace-hora-titulo{
    color: white;
    background-color: #3F80FF;
    padding: 25px 30px 10px;
}
.btns-hora{
    display: flex;
    justify-content: space-evenly;
}
.btns-hora button{
    cursor: pointer;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 50%;
}
.si-hora-btn:hover{
    background-color: #C0D5FF;
}
.no-hora-btn:hover{
    background-color: #F26062;
}


/* hora-registrada*/
.hora-registrada{
    position: fixed;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.visible{
    opacity: 1;
    z-index: 4;
}
.hora-registrada p{
    padding: 20px 20px 20px 20px;
    background-color:#f2f2f2;
    border-radius: 5px;
}

footer {
    background-color: #AECBFA;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
}