* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #f8f9fa;
    padding: 1px 5px;
    display: center;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.veterinaria-nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #333;
}

.veterinaria-nombre strong {
    color: #4285f4;
}
.container {
    display: flex;
    height: 90vh;
    align-items: center; 
    justify-content: center; 
}


.photo {
    position: relative;
    width: 20%;
    height: 500px;
    object-fit: cover;
    left: 5%;
    border-radius: 10px; 
}

main {
    font-family: 'Poppins', sans-serif;
    flex: 1; 
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 15px;
    margin-top: -15px;
}

/* Estilos del formulario */
form {
    background-color: #f9f9f9;
    padding: 80px;
    border-radius: 5px;
}

.form-section {
    margin-bottom: 20px;
}

.form-columns {
    display: flex;
    gap: 60px;
}

.form-column {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    width: 140px;
    margin-right: 10px;
    text-align: left;
    font-weight: bold;
}

input, select {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;;
}


.unit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 0.9em;
    pointer-events: none;
}

.submit-btn {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 300px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.submit-btn:hover {
    background-color: #3367d6;
}
.registrar-enlace {
    text-align: center;
    font-size: 1em;
    color: #333;
}

.registrar-enlace a {
    color: #4285f4;
    text-decoration: none; 
    font-weight: bold;
}

.registrar-enlace a:hover {
    text-decoration: underline; 
}
footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}