body {
    height: 1200px
}
header {
    padding: 1px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.veterinaria-nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #333;
}

.veterinaria-nombre strong {
    color: #4285f4;
}
.link {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 99em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: inherit;
  }
  .link:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: #eee;
  }
  .link:hover, .link:focus {
    outline: 0;
    width: 130px;
  }
  .link:hover:before,
  .link:hover .link-title, .link:focus:before,
  .link:focus .link-title {
    transform: translateX(0);
    opacity: 1;
  }
  
  .link-icon {
    width: 28px;
    height: 28px;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;
  }
  .link-icon svg {
    width: 28px;
    height: 28px;
  }
  
  .link-title {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    display: block;
    text-align: center;
    text-indent: 28px;
    width: 100%;
  }

.cerrar-sesion {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cerrar-sesion:hover {
    background-color: #ff5252;
}
.left, .right {
    flex: 5,4;
    padding: 30px;
}

/* Para dividir el cuerpo a partir del centro */
.left {
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.right {
    align-items: center;
    justify-content: center;
}
main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
h2 {
    text-align: center; /* Asegura que el texto dentro del h1 esté centrado */
    margin-top: 200px;
}
p {
    margin: 50px;
}
.contacto {
    border: 2px solid #e0e0e0;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.contacto label {
    font-weight: bold;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contacto button {
    padding: 10px;
    background-color: #75a7f8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contacto button:hover {
    background-color: #4c90fd;
}


footer{
    height: 60px;
    display: flex;            
    justify-content: center;     
    align-items: center;  
    border-top: 1px solid #e0e0e0;
    
}
.link-icon-contacto {
    align-items: center;
    text-align: center;
    margin-right: 15px;
    width: 28px;
    height: 28px;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: relative;
  }
  .link-icon-contacto svg {
    width: 28px;
    height: 28px;
  }
  .iconoscontacto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 70px;
  }
